<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>home page</title>
</head>
<body>
    <h2>the total number of users are :<%= userCount %></h2>
    <button>join us today</button>

</body>
</html>